/* header */
header {
    align-items: center;
    width: 100vw;
    height: 60px;
    overflow: hidden;
    border-bottom: solid 1px white;
    position: fixed;
    background-color: azure;
    display: flex;
    justify-content: center;
    top: 0;
}

header img {
    width: 140px;
}

h1{
    margin-top: 70px;

}
